services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis_data:/data

  api:
    build: .
    container_name: multimodaldoc_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - .:/app
    command: [ "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload" ]

  worker:
    build: .
    container_name: multimodaldoc_worker
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - .:/app
    command: [ "celery", "-A", "celery_app:celery", "worker", "--loglevel=INFO", "--pool=solo" ]

volumes:
  redis_data:
